.side-nav {
  width: 168px;
  font-size: 12px;
  font-family: sans-serif;
}

.side-nav h2 {
  font-size: 12px;
}

.side-nav ul li {
    list-style-type: none;
}

.title {

}

.container {
  margin: 20px;
  margin-right: 20px;
}

.ian {
  float: left;
  width: 100px;
  height: 130px;
}

.col-md-5 {
  width: 45%;
}

.content {
  width: 150%;
}

.col-md-2 {
  padding-top: 20px;
}
.col-md-5.green_col {
  background-color: #f5fffa;
  border: solid 1px #cef2e0;
}

.col-md-5.blue_col {
  background-color: #f5faff;
  border: solid 1px #cedff2;
  margin-left: 4px;
}

.col-md-5.green_col h2 {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
}

.col-md-5.blue_col h2 {
  background-color: #cedff2;
  border: 1px solid #a3b0bf;
}

.col-md-5 h2 {
  font-size: 16.8px;
  font-weight: bold;
  padding-top: 3.36px;
  padding-bottom: 3.36px;
  padding-left: 6.72px;
  padding-right: 6.72px;
}

.classroom {
  float: right;
  width: 120px;
  height: 90px;
}

.coin {
  float: right;
  width: 120px;
  height: 115px;
}

.marie {
  float: right;
  width: 100px;
  height: 137px;
}

.top-nav {
  height: 93.72px;
}

.top-nav li{
  font-size: 13.3px;
}
