.side-nav {
  width: 168px;
  font-size: 12px;
  font-family: sans-serif;
}

.side-nav h2 {
  font-size: 12px;
}

.side-nav ul li {
    list-style-type: none;
}

.ian {
  float: left;
  width: 100px;
  height: 130px;
}
.col-md-6.green-col {
  width: 491px;
  background-color: #f5fffa;
}

.col-md-6.blue-col {
  background-color: #f5faff;
}

.classroom {
  float: right;
  width: 120px;
  height: 90px;
}

.coin {
  float: right;
  width: 120px;
  height: 115px;
}

.marie {
  float: right;
  width: 100px;
  height: 137px;
}
